/* Variables */

:root {
  /* Color */
  --color-primary: #251f5c;
  --color-primary-light: #ebf7ff;

  --color-secondary: #dbb386;
  --color-secondary-light: #f4eee8;
  --color-secondary-dark: #7d4322;
  /* Base color */
  --color-white: #e0e9ee;
  --color-black: #1e282f;
  /* Messages color */
  --color-success: #3ec43e;
  --color-error: #ff5151;
  --color-warning: #ffee00;

  /* Text sizes */
  --size-xs: 0.8vw;
  --size-sm: 1vw;
  --size-md: 1.2vw;
  --size-lg: 1.6vw;
  --size-xl: 2vw;
  --size-2xl: 3vw;
  --size-3xl: 4vw;

  /* Tipografías */
  --font-primary: "KoHo";
  --font-secondary: secondary;
}

/* Actualizar solo URL de las fuentes según convenga (convertir a formato woff) */

/* Primary Font */

@font-face {
  font-family: primary;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/playfair_display_regular.woff);
}

@font-face {
  font-family: primary;
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/playfair_display_italic.woff);
}

@font-face {
  font-family: primary;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/playfair_display_medium.woff);
}

@font-face {
  font-family: primary;
  font-style: italic;
  font-weight: 500;
  src: url(/fonts/playfair_display_medium_italic.woff);
}

@font-face {
  font-family: primary;
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/playfair_display_bold.woff);
}

@font-face {
  font-family: primary;
  font-style: italic;
  font-weight: 600;
  src: url(/fonts/playfair_display_bold_italic.woff);
}

@font-face {
  font-family: primary;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/playfair_display_extra_bold.woff);
}

@font-face {
  font-family: primary;
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/playfair_display_extra_bold_italic.woff);
}

@font-face {
  font-family: primary;
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/playfair_display_black.woff);
}

@font-face {
  font-family: primary;
  font-style: italic;
  font-weight: 800;
  src: url(/fonts/playfair_display_black_italic.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/onest_thin.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 250;
  src: url(/fonts/onest_extra_light.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/onest_light.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/onest_regular.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/onest_semi_bold.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/onest_bold.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/onest_extra_bold.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/onest_black.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-position: center center;
}

strong {
  font-weight: 600;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  /* (Opcional) */
  hyphens: manual;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

/*  Tableta  */
@media only screen and (max-width: 1024px) {
  :root {
    /* Text sizes */
    --size-xs: 14px;
    --size-sm: 16px;
    --size-md: 18px;
    --size-lg: 24px;
    --size-xl: 30px;
    --size-2xl: 40px;
    --size-3xl: 50px;
  }
}

/*  Móvil  */
@media only screen and (max-width: 768px) {
  :root {
    /* Text sizes */
    --size-xs: 14px;
    --size-sm: 15px;
    --size-md: 17px;
    --size-lg: 20px;
    --size-xl: 26px;
    --size-2xl: 32px;
    --size-3xl: 40px;
  }
}
