.hero {
  padding: 5%;
  padding-top: calc(70px + 5%);
  .column__1 {
    flex-direction: column;
    align-items: flex-start;
    h1 {
      font-size: 3em;
    }
  }
}
.content {
  padding: 5%;
  .column__2 {
    .col__left {
      width: 100%;
      .content__intro {
        width: 100%;
        .intro__list {
          display: flex;
          background-color: var(--color-grey);
          border-radius: 15px;
          width: 100%;
          li {
            width: 100%;
            text-align: center;
            padding: 5%;
            border-left: 1px solid #fff;
            margin: 0;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
  .col__right {
    width: 40%;
  }
}
